.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* shared styles */
.btn-primary{
    background-color: #30B868;
    color: white;
    padding: 16px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-secondary{
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 16px;
    background: transparent;
}
.text-green{
    color: #30B868;
}
.text-white{
    color: white;
}
/* main styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    padding: 12px 0;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.banner{
    background-image: url('../assets/hero-bg.png');
    height: 674px;
    background-repeat: no-repeat;
    padding: 130px;
}
.banner-content{
    max-width: 1360px;
    text-align: center;
}
.banner-badge{
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  background: white;
  border-radius: 999px;
}
.badge-dot{
  width: 10px;
  height: 10px;
  background: #30B868;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(95, 169, 122, 0.25);
}
.badge-text{
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
}
.banner-title{
    font-size: 60px;
    font-weight: bold;
    opacity: .9;
    margin-top: 25px;
    margin-bottom: 25px;
}
.banner-description{
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 32px;
}